In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('ETHBTC-5m-data.csv')
df.head()

,Timestamp,Open,High,Low,Close,Volume,Close_time,Quote_av,Trades,Tb_base_av,Tb_quote_av,Ignore
0,2017-07-14 04:00:00,0.080000,0.080000,0.080000,0.080000,0.726,1.500005e+12,0.058080,6.0,0.000,0.000000,22435.373864
1,2017-07-14 04:05:00,0.080000,0.080001,0.080000,0.080001,3.347,1.500005e+12,0.267760,9.0,0.000,0.000000,22447.699705
2,2017-07-14 04:10:00,0.080001,0.086400,0.080001,0.086400,4.679,1.500006e+12,0.402434,11.0,3.268,0.282355,22463.043126
3,2017-07-14 04:15:00,0.085289,0.085620,0.085128,0.085128,53.431,1.500006e+12,4.564263,15.0,0.000,0.000000,22466.795526
4,2017-07-14 04:20:00,0.085274,0.086000,0.085274,0.086000,5.576,1.500006e+12,0.479001,10.0,2.551,0.219051,22466.241818

In [3]:
df = df.set_index('Timestamp')

In [4]:
df = df.iloc[:, :4]
df.describe()
# 總共有45萬筆資料，就不要強迫我的電腦畫出來了好嗎?QQ

                Open           High            Low          Close
count  453585.000000  453585.000000  453585.000000  453585.000000
mean        0.043491       0.043558       0.043424       0.043491
std         0.021648       0.021693       0.021603       0.021648
min         0.016169       0.016176       0.016150       0.016167
25%         0.026324       0.026366       0.026277       0.026323
50%         0.033906       0.033944       0.033868       0.033906
75%         0.063200       0.063290       0.063113       0.063200
max         0.123640       0.123799       0.122851       0.123511

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 453585 entries, 2017-07-14 04:00:00 to 2021-11-10 13:15:00
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Open    453585 non-null  float64
 1   High    453585 non-null  float64
 2   Low     453585 non-null  float64
 3   Close   453585 non-null  float64
dtypes: float64(4)
memory usage: 17.3+ MB